.container1,
.container2,
.container3 {
  margin: 0 15px;
  width: calc(100% - 30px);

  &.text-center {
    text-align: center;
  }

  &.text-left {
    text-align: left;
  }

  &.text-right {
    text-align: right;
  }

  &.gap1 {
    padding-bottom: 10px;
  }
  &.gap2 {
    padding-bottom: 15px;
  }
  &.gap3 {
    padding-bottom: 20px;
  }
  &.gap4 {
    padding-bottom: 30px;
  }

  &.pad1 {
    padding-top: 10px;
  }
  &.pad2 {
    padding-top: 15px;
  }
  &.pad3 {
    padding-top: 20px;
  }
}

.hidden-to-sm {
  display: none;
}
.hidden-to-md {
  display: none;
}
.hidden-to-lg {
  display: none;
}
.hidden-to-xl {
  display: none;
}

@mixin multicontent() {

  &.reverse {
    .three-quarter,
    .half,
    .third,
    .two-third,
    .sixty,
    .forty,
    .quarter {
      float: right;
      position: relative;

      &:first-of-type {
        padding-right: 0;
        padding-left: 4%;
      }

      &:last-of-type {
        padding-left: 0;
        padding-right: 4%;
      }
    }
  }

  &.vertical-align {
    display: table;
    table-layout: fixed;
    position: relative;

    .three-quarter,
    .half,
    .third,
    .two-third,
    .sixty,
    .forty,
    .quarter {
      display: table-cell;
      vertical-align: middle;
      float: unset;
      direction: ltr;

      &.bottom {
        vertical-align: bottom;
      }

      &.top {
        vertical-align: top;
      }
    }

    &.reverse {
      direction: rtl;
      float: unset;
    }
  }

  .three-quarter,
  .half,
  .third,
  .two-third,
  .sixty,
  .forty,
  .quarter {
    padding-left: 4%;
    padding-right: 4%;
    float: left;

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }

    &.text-center {
      text-align: center;
    }

    &.text-left {
      text-align: left;
    }

    &.text-right {
      text-align: right;
    }
  }

  .third {
    &:nth-of-type(2) {
      padding-left: 2%;
      padding-right: 2%;
    }
  }
  .quarter {
    &:nth-of-type(2),
    &:nth-of-type(3) {
      padding-left: 2%;
      padding-right: 2%;
    }
  }

  .three-quarter {
    width: 75%;
  }

  .two-third {
    width: 66%;
  }

  .sixty {
    width: 60%;
  }

  .half {
    width: 50%;
  }

  .third {
    width: 33%;
  }

  .forty {
    width: 40%;
  }

  .quarter {
    width: 25%;
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@media screen and (min-width: 768px) {
  .container1 {
    margin: 0 25px;
    width: calc(100% - 50px);
  }
  .container2 {
    margin: 0 35px;
    width: calc(100% - 70px);
  }
  .container3 {
    margin: 0 55px;
    width: calc(100% - 110px);
  }

  .container1,
  .container2,
  .container3 {
    &.gap1 {
      padding-bottom: 15px;
    }
    &.gap2 {
      padding-bottom: 20px;
    }
    &.gap3 {
      padding-bottom: 30px;
    }
    &.gap4 {
      padding-bottom: 40px;
    }
    &.pad1 {
      padding-top: 15px;
    }
    &.pad2 {
      padding-top: 20px;
    }
    &.pad3 {
      padding-top: 30px;
    }
  }

  .multi {
    @include multicontent();
  }

  .hidden-to-sm {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .container1 {
    margin: 0 35px;
    width: calc(100% - 70px);
  }
  .container2 {
    margin: 0 100px;
    width: calc(100% - 200px);
  }
  .container3 {
    margin: 0 200px;
    width: calc(100% - 400px);
  }

  .multi-md {
    @include multicontent();
  }

  .hidden-to-md {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .container1 {
    margin: 0 50px;
    width: calc(100% - 100px);
  }
  .container2 {
    margin: 0 150px;
    width: calc(100% - 300px);
  }
  .container3 {
    margin: 0 250px;
    width: calc(100% - 500px);
  }

  .container1,
  .container2,
  .container3 {
    &.gap1 {
      padding-bottom: 20px;
    }
    &.gap2 {
      padding-bottom: 30px;
    }
    &.gap3 {
      padding-bottom: 40px;
    }
    &.gap4 {
      padding-bottom: 50px;
    }
    &.pad1 {
      padding-top: 20px;
    }
    &.pad2 {
      padding-top: 30px;
    }
    &.pad3 {
      padding-top: 40px;
    }
  }

  .multi-lg {
    @include multicontent();
  }

  .hidden-to-lg {
    display: block;
  }
}

@media screen and (min-width: 1400px) {
  .container1 {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
  }
  .container2 {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
  }
  .container3 {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
  }

  .multi-xl {
    @include multicontent();
  }
  .hidden-to-xl {
    display: block;
  }
}
